# Explicitly block all private and public security token certificates
*.pem
*.pub
*.key

# Block all local sqlite operational database tables
*.db
*.sqlite

# Block local software system logs and internal caching folders
/target/
/dbt_packages/
/logs/
/dbt_modules/
.DS_Store
__pycache__/
